.banner {
  padding: 200px 0;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
