.footer {
  background-color:#092516;
  text-align: center;
  padding: 60px;
}

.footer a {
  font-size: 30px;
  color: purple;
  opacity: 1;
  transition: 0.3s ease
}

.footer a:hover {
  opacity: 0.6
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
